In [396]:
import numpy as np                # import all the necessary libraries
import pandas as pd

In [397]:
df = pd.read_excel('AI ML Assignment.xlsx')      # loading the excel file into the pandas Data

In [398]:
df.head(2)  # displaying upper two rows

,Timestamp,Comment,Source of Application-,Applied for the role of-,Full Name,Email,Phone number,Your Current Location?,"We have started working from office, and we expect you to work from office. Hope its good with you.",Why you are looking forward to a new job opportunity?,...,What is your Notice Period?,Can you please describe about yourself and why do you think you are a fit for this role?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate your self for being a Team player?","On a scale of 10, how much you will rate yourself for your domain expertise?","According to you, what five skills are required for being being a good team player?",A movie that made you learn life lessons -,100 m sprint or a Marathon – What’s your pick and why?,How do you define an Ideal Work Environment?,Unnamed: 22
0,2022-09-09 11:42:31,Not fit,LinkedIn,Business Analyst,AA,a@1,1230000,Ghaziabad UP,Good.,I have learned many new things in my current j...,...,< 15 days,I believe I am qualified for this job because ...,8,9,8,1. Understand the role. \n2. Collaboration. \n...,There are many inspiring movies & the learning...,I would say a Marathon as it defines your life...,There are many things I can write here about t...,NaN
1,2022-09-09 13:07:35,NaN,Whatsapp,Sr Digital Marketing executive,11,a@2,1230001,Mumbai,yes,I want to advance my skill sets level and also...,...,2 months,I certainly believe I have required skillsets ...,8,8,7,"Communication , Good listener, proactiveness, ...",Bhaag mikha bhaag - no matter of the obstacles...,Marathon - Take as an example of marathon as l...,Ideal work environment to me is something wher...,NaN

In [399]:
df.info()     # info() is gives the informations about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 23 columns):
 #   Column                                                                                               Non-Null Count  Dtype
---  ------                                                                                               --------------  -----
 0   Timestamp                                                                                            321 non-null    object
 1   Comment                                                                                              186 non-null    object
 2   Source of Application-                                                                               320 non-null    object
 3   Applied for the role of-                                                                             319 non-null    object
 4   Full Name                                                                                            321 non-null    object
 5   Email                                                                                                321 non-null    object
 6   Phone number                                                                                         321 non-null    int64
 7   Your Current Location?                                                                               321 non-null    object
 8   We have started working from office, and we expect you to work from office. Hope its good with you.  321 non-null    object
 9   Why you are looking forward to a new job opportunity?                                                321 non-null    object
 10  Overall years of Experience in domain?                                                               321 non-null    object
 11  Your Current CTC (in terms of LPA)                                                                   316 non-null    object
 12  Expected CTC (in terms of LPA)                                                                       321 non-null    object
 13  What is your Notice Period?                                                                          312 non-null    object
 14  Can you please describe about yourself and why do you think you are a fit for this role?             321 non-null    object
 15  On a scale of 10, how much you will rate your self for your Communication skill?                     321 non-null    int64
 16  On a scale of 10, how much you will rate your self for being a Team player?                          321 non-null    int64
 17  On a scale of 10, how much you will rate yourself for your domain expertise?                         321 non-null    int64
 18  According to you, what five skills are required for being being a good team player?                  321 non-null    object
 19  A movie that made you learn life lessons -                                                           318 non-null    object
 20  100 m sprint or a Marathon – What’s your pick and why?                                               317 non-null    object
 21  How do you define an Ideal Work Environment?                                                         320 non-null    object
 22  Unnamed: 22                                                                                          5 non-null      object
dtypes: int64(4), object(19)
memory usage: 57.8+ KB

In [400]:
# columns to drop which is not required for the recommendation
columns_to_drop =['Timestamp','Comment', 'Source of Application-','Full Name', 'Phone number', 'Your Current CTC (in terms of LPA)','According to you, what five skills are required for being being a good team player?','A movie that made you learn life lessons -', '100 m sprint or a Marathon – What’s your pick and why?','How do you define an Ideal Work Environment?','Unnamed: 22','On a scale of 10, how much you will rate your self for being a Team player?']

In [401]:
df = df.drop(columns_to_drop, axis=1)   # drop() it is used to drop the coulumns

In [402]:
df.head(2)

,Applied for the role of-,Email,Your Current Location?,"We have started working from office, and we expect you to work from office. Hope its good with you.",Why you are looking forward to a new job opportunity?,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,Can you please describe about yourself and why do you think you are a fit for this role?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?"
0,Business Analyst,a@1,Ghaziabad UP,Good.,I have learned many new things in my current j...,1.4 years,5.8,< 15 days,I believe I am qualified for this job because ...,8,8
1,Sr Digital Marketing executive,a@2,Mumbai,yes,I want to advance my skill sets level and also...,2.5 years,6Lac,2 months,I certainly believe I have required skillsets ...,8,7

In [403]:
df.columns

Index(['Applied for the role of-', 'Email', 'Your Current Location?',
       'We have started working from office, and we expect you to work from office. Hope its good with you.',
       'Why you are looking forward to a new job opportunity?',
       'Overall years of Experience in domain?',
       'Expected CTC (in terms of LPA)', 'What is your Notice Period?',
       'Can you please describe about yourself and why do you think you are a fit for this role?',
       'On a scale of 10, how much you will rate your self for your Communication skill?',
       'On a scale of 10, how much you will rate yourself for your domain expertise?'],
      dtype='object')

In [404]:
df.isnull().sum()    # to check if there is any null values avaiable in the dataset

Applied for the role of-                                                                               2
Email                                                                                                  0
Your Current Location?                                                                                 0
We have started working from office, and we expect you to work from office. Hope its good with you.    0
Why you are looking forward to a new job opportunity?                                                  0
Overall years of Experience in domain?                                                                 0
Expected CTC (in terms of LPA)                                                                         0
What is your Notice Period?                                                                            9
Can you please describe about yourself and why do you think you are a fit for this role?               0
On a scale of 10, how much you will rate your self for your Communication skill?                       0
On a scale of 10, how much you will rate yourself for your domain expertise?                           0
dtype: int64

In [405]:
# fill null values

In [406]:
var = df['Applied for the role of-'].mode()[0]

In [407]:
df['Applied for the role of-']= df['Applied for the role of-'].fillna(var)

In [408]:
df['What is your Notice Period?'].value_counts()

What is your Notice Period?
30 days                                         32
15 days                                         30
0                                               27
1 month                                         18
30                                              16
                                                ..
Immediate Join                                   1
15 to 30 days                                    1
Immedaite Joiner                                 1
Served my notice period can join immediately     1
7                                                1
Name: count, Length: 122, dtype: int64

In [409]:
mode_value = df['What is your Notice Period?'].mode()[0]

In [410]:
df['What is your Notice Period?'] = df['What is your Notice Period?'].fillna(mode_value)

In [411]:
df.isnull().sum()

Applied for the role of-                                                                               0
Email                                                                                                  0
Your Current Location?                                                                                 0
We have started working from office, and we expect you to work from office. Hope its good with you.    0
Why you are looking forward to a new job opportunity?                                                  0
Overall years of Experience in domain?                                                                 0
Expected CTC (in terms of LPA)                                                                         0
What is your Notice Period?                                                                            0
Can you please describe about yourself and why do you think you are a fit for this role?               0
On a scale of 10, how much you will rate your self for your Communication skill?                       0
On a scale of 10, how much you will rate yourself for your domain expertise?                           0
dtype: int64

In [412]:
df.head(2)

,Applied for the role of-,Email,Your Current Location?,"We have started working from office, and we expect you to work from office. Hope its good with you.",Why you are looking forward to a new job opportunity?,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,Can you please describe about yourself and why do you think you are a fit for this role?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?"
0,Business Analyst,a@1,Ghaziabad UP,Good.,I have learned many new things in my current j...,1.4 years,5.8,< 15 days,I believe I am qualified for this job because ...,8,8
1,Sr Digital Marketing executive,a@2,Mumbai,yes,I want to advance my skill sets level and also...,2.5 years,6Lac,2 months,I certainly believe I have required skillsets ...,8,7

In [413]:
df.duplicated().sum()   # to check for any duplicate row present in the dataset

0

In [414]:
# As python is a case sensitive language that is we have to convert all the text into lower case.

In [415]:
df['Applied for the role of-']=df['Applied for the role of-'].apply(lambda x: x.lower())
df['Your Current Location?']=df['Your Current Location?'].apply(lambda x: x.lower())
df['Why you are looking forward to a new job opportunity?']=df['Why you are looking forward to a new job opportunity?'].apply(lambda x: x.lower())
df['Can you please describe about yourself and why do you think you are a fit for this role?']=df['Can you please describe about yourself and why do you think you are a fit for this role?'].apply(lambda x: x.lower())
df['We have started working from office, and we expect you to work from office. Hope its good with you.']=df['We have started working from office, and we expect you to work from office. Hope its good with you.'].apply(lambda x: x.lower())

In [416]:
df.head(1)

,Applied for the role of-,Email,Your Current Location?,"We have started working from office, and we expect you to work from office. Hope its good with you.",Why you are looking forward to a new job opportunity?,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,Can you please describe about yourself and why do you think you are a fit for this role?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?"
0,business analyst,a@1,ghaziabad up,good.,i have learned many new things in my current j...,1.4 years,5.8,< 15 days,i believe i am qualified for this job because ...,8,8

In [417]:
df['candidate_details'] = df['Applied for the role of-']+' '+df['Your Current Location?']+' '+df['We have started working from office, and we expect you to work from office. Hope its good with you.']+' '+df['Why you are looking forward to a new job opportunity?']+' '+df['Can you please describe about yourself and why do you think you are a fit for this role?']

In [418]:
df.head(2)

,Applied for the role of-,Email,Your Current Location?,"We have started working from office, and we expect you to work from office. Hope its good with you.",Why you are looking forward to a new job opportunity?,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,Can you please describe about yourself and why do you think you are a fit for this role?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?",candidate_details
0,business analyst,a@1,ghaziabad up,good.,i have learned many new things in my current j...,1.4 years,5.8,< 15 days,i believe i am qualified for this job because ...,8,8,business analyst ghaziabad up good. i have lea...
1,sr digital marketing executive,a@2,mumbai,yes,i want to advance my skill sets level and also...,2.5 years,6Lac,2 months,i certainly believe i have required skillsets ...,8,7,sr digital marketing executive mumbai yes i wa...

In [419]:
# adding all text in a single columns to create candidate details columns

In [420]:
new_df = df[['Email','Overall years of Experience in domain?','Expected CTC (in terms of LPA)','What is your Notice Period?','On a scale of 10, how much you will rate your self for your Communication skill?','On a scale of 10, how much you will rate yourself for your domain expertise?','candidate_details']]

In [421]:
new_df.head(2)

,Email,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?",candidate_details
0,a@1,1.4 years,5.8,< 15 days,8,8,business analyst ghaziabad up good. i have lea...
1,a@2,2.5 years,6Lac,2 months,8,7,sr digital marketing executive mumbai yes i wa...

In [422]:
new_df['candidate_details'][0]

'business analyst ghaziabad up good. i have learned many new things in my current job & i can’t thank my first employer enough to guve me opportunity cause i was a fresher. but at the same time i think i am touching the roof now in my current job & would like to apply these new skills & learnings to a new opportunity. i believe i am qualified for this job because i have the required skills for this position & 1.4 years of experience to back it up. \nwhile working i have also done some additional learnings through online teaching platforms like simplilearn & google. \ni am dependable & goal oriented & since college i have worked in teams so i can say i am a good team player. \nin my last project while i was meeting the client i asked for a specific requirement & i was not really sure about the time the back end team will take to fullfill this requirement. \nbut i learned somewhere under promise over deliver so i was able to handle that case quite well.'

In [423]:
# machine learning algorithm
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [424]:
vectors=cv.fit_transform(new_df['candidate_details']).toarray()

In [425]:
len(cv.get_feature_names_out())

2756

In [426]:
# perform stemming
from nltk.stem import PorterStemmer

ps=PorterStemmer()

def perform_stemming(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
  
    return " ".join(y)

In [427]:
new_df['candidate_details']=new_df['candidate_details'].apply(perform_stemming)

C:\Users\Ashish Kumar Singh\AppData\Local\Temp\ipykernel_5300\674649493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['candidate_details']=new_df['candidate_details'].apply(perform_stemming)

In [428]:
new_df['candidate_details'][0]

'busi analyst ghaziabad up good. i have learn mani new thing in my current job & i can’t thank my first employ enough to guve me opportun caus i wa a fresher. but at the same time i think i am touch the roof now in my current job & would like to appli these new skill & learn to a new opportunity. i believ i am qualifi for thi job becaus i have the requir skill for thi posit & 1.4 year of experi to back it up. while work i have also done some addit learn through onlin teach platform like simplilearn & google. i am depend & goal orient & sinc colleg i have work in team so i can say i am a good team player. in my last project while i wa meet the client i ask for a specif requir & i wa not realli sure about the time the back end team will take to fullfil thi requirement. but i learn somewher under promis over deliv so i wa abl to handl that case quit well.'

In [429]:
from sklearn.metrics.pairwise import cosine_similarity # importing cosine_similarity to check the simliarity of JD and candidate details

In [430]:
# preporeseccing steps
def preprocess_text(text):
    y=[]
    for i in text.lower().split():
        y.append(ps.stem(i))
  
    return " ".join(y)

In [431]:
def recommend(job_description):
    job_vec = cv.transform([preprocess_text(job_description)]).toarray()
    scores = cosine_similarity(job_vec, vectors)
    top_candidates_indices = scores[0].argsort()[-5:][::-1]  # Adjust number as needed
    return new_df.iloc[top_candidates_indices]

In [440]:
recommend('digital marketing, Delhi, 2 years of exerpience, work from office') # Here is the top five recommendation based on the profile

,Email,Overall years of Experience in domain?,Expected CTC (in terms of LPA),What is your Notice Period?,"On a scale of 10, how much you will rate your self for your Communication skill?","On a scale of 10, how much you will rate yourself for your domain expertise?",candidate_details
146,a@147,Fresher,4.5 LPA,I can join anytime.,8,7,perform market execut delhi ye although i have...
172,a@173,6,700000,0,10,10,perform market execut delhi ye to work in a di...
233,a@234,1 year,300000,15 days,8,9,digit market execut noida ye i am comfort with...
200,a@201,1.5,6,1 week,8,8,social media execut delhi ye becaus i am do so...
51,a@52,I have total 5 years of experience,600000-700000,I have already resigned and can join immediately.,10,9,"social media execut new delhi yes, i am avail ..."